[submodule "client/include/cutils"]
	path = client/include/cutils
	url = git://github.com/fossbay/cutils.git

[submodule "server/include/cutils"]
	path = server/include/cutils
	url = git://github.com/fossbay/cutils.git
