[submodule "include/cutils"]
	path = client/include/cutils
	url = https://github.com/Fossbay/cutils

[submodule "include/cutils"]
	path = server/include/cutils
	url = https://github.com/Fossbay/cutils
